/* Import fonts from Google Fonts: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+sans&family=Oswald&display=swap');

/* General */
html{
    scroll-behavior: smooth;
    font-size: 16px;
} 
body{
    font-family: "Varela", sans-serif;
    color: #262730;
    font-size: 1rem;
}
h5{
    font-size: 1rem;
} 
.border-blue{
    border: solid .3rem #cae9ff; 
    border-radius: 1rem;
}
.rounded-corners{
    border-radius: 1rem; 
}   
.bgr-white{
    background-color: #ffffff;
}
.bgr-yellow{
    background-color: #fecf3e;
}
.bgr-blue{
    background-color: #cae9ff;
}

/* Header */
.logo{
    height: 4rem;
    width: 6rem;
    border: solid .2rem #cae9ff;
    border-radius: 50%;    
} 
.navbar-toggler{
    background-color: #fecf3e;
    color: #262730;
} 
.nav-link{
    color: #262730;
}
.nav-link:hover{
    color:#262730;
    font-weight: 700;
}
.navbar-brand:hover, .navbar-toggler:hover{
    transform: scale(1.1);
}
.banner{
    height: 6rem;
}

/* Map-section */
#resorts {
    min-height: 100vh;
}  
#map{
    min-height : 370px; 
    height: 80vh;
    width : 100%; 
}   
.block-divider {
    height: 0.3rem;
    border: 0;
    background-color:  #cae9ff;
    width: 12rem;
}
.flex-container {
    display: flex;
}
.forecast {
    padding: .5rem;
}

/* 10 top-section */
.yellow{
  color: #fecf3e;
} 
.table{
    margin-left: auto;
    margin-right: auto;
} 
.hero-img{
    background-image: url("../images/resort-pic.jpg");
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* details-section */
.divider-yellow {
    height: 0.2rem;
    border: 0;
    background-color:  #fecf3e;
    width: 3rem;
}
.left:hover, .right:hover{
    transform: scale(1.5);
}
/* Found below two, on stackoverflow, user Phoenix 
https://stackoverflow.com/questions/49028877/slick-carousel-force-slides-to-have-the-same-height */
.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}
 

/* mail-section */
#submit-btn:hover{
    color: #fecf3e;
    background-color: #262730;
}

/* footer */
.icon{
    color: #262730; 
}
 .hover-lg:hover{
    background-color: #cae9ff;
    transform: scale(1.5);
}

/* For a responsive site */
@media screen and (max-width: 340px){
    html{
        font-size: 14px;
    }
}